---
import Layout from '../layouts/Layout.astro';
import ContactUs from '../components/ContactUs.astro';
import Discover from '../components/Discover.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout title="Lomas del Paraíso">
	<main>
		<Discover></Discover>

		<Gallery></Gallery>

        <ContactUs></ContactUs>
	</main>
</Layout>
