---
import Layout from '../layouts/Layout.astro';
import ProjectCards from '../components/ProjectCards.astro';
---

<Layout title="Lomas del Paraíso | Proyectos">
	<main>
        <ProjectCards><ProjectCards/>
	</main>
</Layout>
