---
import Layout from '../layouts/Layout.astro';
import ProjectContainer from '../components/ProjectContainer.astro';
---

<Layout title="Lomas del Paraíso | Proyecto ####">
	<main>
        <ProjectContainer><ProjectContainer/>
	</main>
</Layout>