<section id="Contact" class="bg-container">
<div class="mr-auto ml-auto w-fit">
    <h2 class="white-txt font-bold">CONTÁCTANOS</h2>
</div>

<form class="max-w-xl mx-auto m-24 bg-form p-5 rounded-lg">
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="name" id="name" class="block py-2.5 px-0 w-full text-sm white-txt bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400 dark:focus:border-teal-400 focus:outline-none focus:ring-0 focus:border-teal-400 peer" placeholder=" " required autocomplete="off"/>
        <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-400 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-400 peer-focus:dark:text-teal-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm white-txt bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400 dark:focus:border-teal-400 focus:outline-none focus:ring-0 focus:border-teal-400 peer" placeholder=" " required autocomplete="off"/>
        <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-400 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-teal-400 peer-focus:dark:text-teal-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Correo</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="tel" name="phone" id="phone" class="block py-2.5 px-0 w-full text-sm white-txt bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400 dark:focus:border-teal-400 focus:outline-none focus:ring-0 focus:border-teal-400 peer" placeholder=" " required autocomplete="off"/>
        <label for="phone" class="peer-focus:font-medium absolute text-sm text-gray-400 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-400 peer-focus:dark:text-teal-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Número de teléfono</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="subject" id="subject" class="block py-2.5 px-0 w-full text-sm white-txt bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400 dark:focus:border-teal-400 focus:outline-none focus:ring-0 focus:border-teal-400 peer" placeholder=" " required autocomplete="off"/>
        <label for="subject" class="peer-focus:font-medium absolute text-sm text-gray-400 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-400 peer-focus:dark:text-teal-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Asunto</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <textarea style="resize: none;" name="message" id="message" class="h-64 block py-2.5 px-0 w-full text-sm white-txt bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400 dark:focus:border-teal-400 focus:outline-none focus:ring-0 focus:border-teal-400 peer" placeholder=" " required autocomplete="off"/>
        <label for="message" class="peer-focus:font-medium absolute text-sm text-gray-400 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-400 peer-focus:dark:text-teal-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mensaje</label>
    </div>
    <button type="submit" class="white-txt bg-alternate hover:bg-teal-800 focus:ring-2 focus:outline-none focus:ring-teal-300 font-bold rounded-lg text-sm w-32 sm:w-32 px-5 py-2.5 text-center dark:bg-teal-400 dark:hover:bg-teal-700 dark:focus:ring-teal-800">Submit</button>
  </form>
  
</section>