<section id="Contact" class="bg-container">
<div class="mr-auto ml-auto w-fit">
    <h2 class="white-txt font-bold">CONTÁCTANOS</h2>
</div>

<form class="mr-auto ml-auto w-6/12 m-24" action="/my-handling-form-page" method="post">
    <ul class="">
        <li class="m-5">
        <input class="h-8 w-full bg-form white-txt p-2"type="text" id="name" name="user_name" placeholder="Nombre" required />
        </li>
        <li class="m-5">
        <input class="h-8 w-full bg-form white-txt p-2" type="email" id="mail" name="user_email" placeholder="Correo" required />
        </li>
        <li class="m-5">
        <input class="h-8 w-full bg-form white-txt p-2" type="tel" id="phone" name="user_phone" placeholder="Número de teléfono" required />
        </li>
        <li class="m-5">
        <textarea style="resize: none;" class="h-72 w-full bg-form white-txt p-2" id="msg" name="user_message" placeholder="Mensaje"></textarea>
        </li>
    </ul>
    </form>
</section>