---
---
<footer class="bg-container w-full mb-0">
    <div class="flex flex-row justify-evenly p-6 white-txt">
        <section class="w-3/12">
            <h3 class="text-center mb-3">LOMAS DEL PARAÍSO</h3>
            <p class="mr-auto ml-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </section>
        <section class="w-3/12">
            <h3 class="text-center mb-3">CONTACTO</h3>
            <ul class="mr-auto ml-auto w-fit">
                <li>
                    <span>logo</span>
                    <span>San Ramón, Alajuela, CR.</span>
                </li>
                <li>
                    <span>logo</span>
                    <span>
                        <a href="">+506 63139143</a>
                    </span>
                </li>
                <li>
                    <span>logo</span>
                    <span>
                        <a href="">correo@gmail.com</a>
                    </span>
                </li>
            </ul>
        </section>
        <section class="w-3/12">
            <h3 class="text-center mb-3">VÍSITANOS EN EL SIGUIENTE HORARIO:</h3>
            <ul class="mr-auto ml-auto w-fit">
                <li><span>Mon&nbsp;&nbsp;09:00 am – 05:00 pm</span></li>
                <li><span>Tue&nbsp;&nbsp;&nbsp;09:00 am – 05:00 pm</span></li>
                <li><span>Wed&nbsp;&nbsp;09:00 am – 05:00 pm</span></li>
                <li><span>Thu&nbsp;&nbsp;&nbsp;09:00 am – 05:00 pm</span></li>
                <li><span>Fri&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:00 am – 05:00 pm</span></li>
                <li><span>Sat&nbsp;&nbsp;&nbsp;&nbsp;09:00 am – 05:00 pm</span></li>
                <li><span>Sun&nbsp;&nbsp;&nbsp;09:00 am – 05:00 pm</span></li>
            </ul>
        </section>
    </div>
</footer>
