---
import ImageCarousel from "./ImageCarousel.tsx"
---

<section id="Photos" class="bg-container">
    <div class="mr-auto ml-auto w-fit">
        <h2 class="white-txt font-bold">ALGUNAS FOTOS DE NUESTROS PROYECTOS</h2>
    </div>
    <div class="mr-auto ml-auto w-fit m-24">
        <ImageCarousel client:visible/>
    </div>
</section>