---
import Nav from "./Nav.astro"
import ImageCarousel from "./HeaderCarousel.tsx"
---

<header class="select-none">
    <Nav></Nav>
	<div class="absolute lightgray-txt header-title flex flex-col">
		<h1 class="text-5xl">Lomas del Paraíso</h1>
		<h2 class="text-xl w-10/12">Te ayudamos a hacer realidad el sueño de tener tu propio terreno del tamaño que lo desees, con los mejores paisajes y precios</h2>
	</div>
	
	<ImageCarousel client:visible/>
</header>