---
interface Props {
    imageUrl: string,
    alt?: string,
    title: string,
    description: string,
}

const {imageUrl, alt, title, description} = Astro.props;
---

<div class="max-w-sm bg-form border border-white-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/project/">
        <img class="rounded-t-lg" src={Astro.props.imageUrl} alt={Astro.props.alt} />
    </a>
    <div class="p-5">
        <a href="/project/">
            <h5 class="mb-2 text-2xl font-bold tracking-tight white-txt dark:text-white">{Astro.props.title}</h5>
        </a>
        <p class="mb-3 font-normal white-txt dark:text-gray-400">{Astro.props.description}</p>
        <a href="/project/" class="inline-flex items-center px-3 py-2 text-sm font-bold text-center text-white bg-alternate rounded-lg hover:bg-teal-800 focus:ring-2 focus:outline-none focus:ring-teal-300 dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800">
            Read more
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>
